﻿@page
@model ThisBuchanan.com.Pages.Forms.AddPersonModel
@{
}<h1>AddPerson</h1>

 <form method="post">
     <input type="text" asp-for="Person.FirstName" placeholder="First Name" />
     <input type="text" asp-for="Person.LastName" placeholder="Last Name" />
     <input type="text" asp-for="Person.YearBorn" placeholder="Year Born" />
     <input type="text" asp-for="Person.IsAlive" placeholder="Is Alive" />
     <button type="submit">Submit</button>
 </form>


@{ if (Model.Person != null)
    {
        <h3>Last Person Posted</h3>
        <ul>
            <li>First Name: @Model.Person.FirstName</li>
            <li>Last Name: @Model.Person.LastName</li>
            <li>Age: @Model.Person.YearsOld().ToString() years old</li>
            <li>Is Alive: @Model.Person.IsAlive</li>
        </ul>
    }}