﻿@page
@model ThisBuchanan.com.Pages.AboutModel
@{
    <h1 class="display-4">About Me</h1>
    <p>
        My name is Chris, and I'm a software developer by day, and a father / DIY hobbyist by night.
    </p>
    <p>
        I've developed several vb.net desktop apps that range in features to sending receipt emails, to editing xml data
        sets, to streamlining print pdf production workflows.
        I also was in charge of maintaining the network (security, backups, uptime etc), and keeping print production
        rolling. Since they belonged to the company I worked for, I can't share the source code.
        However, I have a couple of simple examples of my work on <strong><a href="https://github.com/cbuchanan919?tab=repositories">GitHub</a></strong>.
    </p>
    <p>
        A few years ago, my wife and I purchased an old 1920's house to fix up. In the evenings and weekends, between
        getting my degree in software development, and helping taking care of our two children,
        I have some time to work on house projects. My wife and I have a long ways to go, but we've rented floor sanders and
        refinished the floor, designed and built new kitchen cabinets,
        and taken a jackhammer to part of our concrete patio. It's really exciting seeing the changes that happen over time!
    </p>
    <br/>
    <div class="card" style="max-width: 400px;">
        <img src="~/img/about_site.jpg" alt="About Site">
        <h1 class="card-title">About This Site</h1>
        <p class="card-text">
            This is a ASP.NET Core Razor Pages app that I started when I was experimenting with CI/CD. Its source code is
            hosted on github, and is published automatically to an AWS EC2 instance (running Ubuntu) after a successful build in the master
            branch.
        </p>
        <a href="https://gitlab.com/Cbuchanan919/thisbuchanan.com" class="btn btn-primary stretched-link">See Repository</a>
    </div>

}
