﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

@section style{
<style>
    

</style>
    
}

<div class="text-center">
    

    <div id="cbCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-page="About">
                    <img src="~/img/index/Welcome.jpg" class="d-block w-100" alt="Welcome slide">

                    <div class="carousel-caption d-none d-md-block">
                        
                        <p>I really appreciate you looking at my site. Thanks for taking the time!</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a asp-page="About">
                    <img src="~/img/about_site.jpg" class="d-block w-100" alt="About slide">

                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="display-6">About Me</h5>
                        <p>Read a little bit about me, and some details on how this site works.</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a asp-page="Learning">
                    <img src="~/img/index/Learning.jpg" class="d-block w-100" alt="Learning slide">

                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="display-6">Learning</h5>
                        <p>See what I've been up to. Come check out my experiments page!</p>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#cbCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cbCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="mt-5">
        <p>
            This website is where I'm currently learning and practicing. Maybe one day it will be my portfolio, but in the meantime, please expect some rough edges!<br />- Chris
        </p>
    </div>





</div>

@section Scripts{

}
