﻿@page
@model ThisBuchanan.com.Pages.LearningModel
@{
}
@{ if (string.IsNullOrEmpty(Model.FirstName))
    {
        //no name, greet nobody.
        <h1 class="display-4">Experiments Ahead...</h1>
        <p>Please enter your name to continue.</p>
        <form method="post">
            <input type="text" asp-for="FirstName" placeholder="A First Name" />
            <button type="submit">Submit</button>
        </form>



    }
    else
    {
        <h1 class="display-4">Welcome @Model.FirstName!</h1>


        <h4>(This is where I'm currently experimenting, and so there may be broken code and unexplained contents.)</h4>

        <p>How to learn: Experiment!</p>
        <h2>Ambitious End Goal Ideas</h2>
        <ul>
            <li>Create a site that gets data from sql. (Lineup Successor)</li>
            <li>Add login / special user access</li>
            <li>Shopping site.</li>
            <li>Wiki style page.</li>
            <li>Wood working / projects I've done.</li>
        </ul>

        <h2>Immediate Goals</h2>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <ul>
                <li><strike>Learn how to show and host pictures on .net core</strike></li>
                <li>Figure out bootstrap basics</li>
                <li>Understand the basics of ASP.NET Core!</li>
                <li><strike>Be able to close this item...</strike></li>
            </ul>
        </div>

        <img src="~/img/underground.jpg" class="img-fluid" />

        <div class="overflow-auto" style="height:250px">
            <p class=""><pre>@Model.equationModel.GetSolutionExamples()</pre></p>
        </div>


        <div class="mt-5">
            <p>Experimenting with Javascript:</p>
            <fieldset>
                <legend>Planet information</legend>
                <label for="planetsSelect">Planet:</label>
                <select id="planetsSelect" aria-controls="planetInfo" onchange="renderPlanetInfo()">
                    <option value="">Select a planet&hellip;</option>
                    <option value="mercury">Mercury</option>
                    <option value="venus">Venus</option>
                    <option value="earth">Earth</option>
                    <option value="mars">Mars</option>
                </select>
                <!--<button id="renderPlanetInfoButton">Go</button>-->
            </fieldset>

            <div role="region" id="planetInfo" aria-live="polite">
                <h3 id="planetTitle">No planet selected</h3>
                <p id="planetDescription">Select a planet to view its description</p>
            </div>

            <p><small>Information courtesy <a href="https://en.wikipedia.org/wiki/Solar_System#Inner_Solar_System">Wikipedia</a></small></p>
        </div>

        <div class="mt-5">
            <button id="showToast">Show Toast</button>
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                <div class="toast-header">
                    <img src="~/img/chat-right-text-fill.svg" class="rounded mr-2" alt="Toast Image">
                    <strong class="me-auto">Bootstrap</strong>
                    <small id="toastTimeAgo" class="text-muted">11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    This toast is shown through javascript. The time in the top right corner is updated each time the toast is shown.
                </div>
            </div>
        </div>


    }}

@section Scripts{
    <script type="text/javascript">
        const PLANETS_INFO = {
            mercury: {
                title: 'Mercury',
                description: 'Mercury is the smallest and innermost planet in the Solar System. It is named after the Roman deity Mercury, the messenger to the gods.'
            },

            venus: {
                title: "Venus",
                description: 'Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty.'
            },

            earth: {
                title: "Earth",
                description: 'Earth is the third planet from the Sun and the only object in the Universe known to harbor life.'
            },

            mars: {
                title: "Mars",
                description: 'Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. In English, Mars carries a name of the Roman god of war, and is often referred to as the "Red Planet".'
            }
        };
        function renderPlanetInfo(planet) {
            if (planet === undefined) {
                let planetSelect = document.querySelector('#planetsSelect')
                planet = planetSelect.options[planetSelect.selectedIndex].value;
            }
            const planetTitle = document.querySelector('#planetTitle');
            const planetDescription = document.querySelector('#planetDescription');

            if (planet in PLANETS_INFO) {
                planetTitle.textContent = PLANETS_INFO[planet].title;
                planetDescription.textContent = PLANETS_INFO[planet].description;
            } else {
                planetTitle.textContent = 'No planet selected';
                planetDescription.textContent = 'Select a planet to view its description';
            }
        }

        const renderPlanetInfoButton = document.querySelector('#renderPlanetInfoButton');

        renderPlanetInfoButton.addEventListener('click', event => {
            const planetsSelect = document.querySelector('#planetsSelect');
            const selectedPlanet = planetsSelect.options[planetsSelect.selectedIndex].value;
            renderPlanetInfo(selectedPlanet);
        });

    </script>

}