﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>ThisBuchanan.com takes your privacy seriously. We will not share any data you give us.</p>
